* {
    box-sizing: border-box;
}



@font-face {
    font-family: "Open Sans";
    src:local("Open Sans");
    src: url(../fonts/OpenSans-Bold.woff2) format('woff2'),
    url(../fonts/OpenSans-Bold.woff) format('woff'), 
    url(../fonts/OpenSans-Bold.ttf) format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src:local("Open Sans");
    src: url(../fonts/OpenSans-Regular.woff2) format('woff2'),
    url(../fonts/OpenSans-Regular.woff) format('woff'),    
    url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}

body {
    font-family: Open Sans;
}

.container {
    margin: 0 auto;
/*     max-width: 1660px; */
    background-color:#ffffff;
}

.header-container {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 450px;
    background-image: url("../images/banner-bg.jpg");
    background-size:cover;
    justify-content: center;
    align-items: center;
}

.header-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.header-title {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    max-width: 41%;
    z-index: 1;
    line-height: 75px;

}

.header-logo {
    width: 10.78%;
    /* height: 41px; */
    position: absolute;
    top: 28px;
    left: 14.94%;
}

.nav-menu {
    position: absolute;
    color:#ffffff;
    right: 14.8%;
    top: 10%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav-menu__list {
    display: flex ;
}

.nav-menu__item {
    margin-right: 35px;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 13px;
}

.nav-menu__item:last-child {
    margin-right: 0;
}

.nav-menu__item:hover {
    text-decoration: underline;
    cursor: pointer;    
}

.nav-menu__humburger {
    display: none;
}

.nav-menu__humburger-picture {
    display: none;
}

.nav-menu__humburger-checkbox {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.cards-section {
    margin-bottom: 64px;
    font-size: 20px;
}

.cards-title-box {
    padding-top: 3.25em;
}

.cards-title-box__text {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 0.7em;
}

.cards-title-box__underscope {
    width: 3.35em;
    background-color: #b59f5b;
    height: 0.15em;
    margin-bottom: 1.4em;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    display: flex;
    background-color: #eff6f1;
    width: calc((100% - 12px)/4);
    min-height: 320px;
    margin-right: 4px;
    padding: 16px 18px;
    align-items: end;
    background-image: url(../images/trend1.jpg);
    background-size:cover;
    background-position: center;
}

.card::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

.card:last-child {
    margin-right: 0;
}

.card__content-container {
    border: 3px solid rgba(181, 159, 91, 0.6);
    padding: 9.7% 8.6%;
    width: 100%;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    color:#ffffff;
    z-index: 1;
    max-height: 100%;
}

.categores {
    display: flex;
    flex-wrap: wrap;
    
}

.categores__item {
    margin-right: 20px;
    font-size: 14px;
    line-height: 40px;
}

.categores__item>a {
    color:#b59f5b;
    text-decoration: none;
}

.categores__item:last-child {
    margin-right: 0;
} 

.categores__item>a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.title-text {
    font-size: 1em;
    line-height: 1.2em;
    text-transform: uppercase;
}

.title-text:hover {
    color:#b59f5b;
    cursor: pointer;
}

.second-card {
    background-image: url(../images/trend2.jpg);
}

.third-card {
    background-image: url(../images/trend3.jpg);
}

.fourth-card {
    background-image: url(../images/trend4.jpg);
}

.section__container {
    max-width: 1200px;
    padding: o 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.posts-container {
    max-width: 790px;
    font-size: 20px;
}

.post {
    /* height: 295px; */
    display: flex;
    margin-bottom: 2.95em;
}

.post:last-child {
    margin-bottom: 0;
}

.post__photo-container {
    height: 100%;
    max-width: 48.5%;
    margin-right: 3%;
}

.post__photo {
    height: 100%;
    width: 100%;
}

.post__content-container {
    width: 48.5%;
    height: 100%;
    font-family: "Open Sans";
    font-weight: 700;
    position: relative;
    display: flex;
    flex-direction: column;
}

.post__category-item {
    position: relative;
    top: -13px;
    text-transform: uppercase;
}

.post__title {
    position: relative;
    top: -13px;
    text-transform: uppercase;
}

.date {
    font-size: 0.6em;
    font-weight: 400;
    color: #888888;
    line-height: 2em;
}

.signature {
    font-size: 12px;
}

.post__text-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    
}

.post__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 25px;
}

.side-bar {
    max-width: 270px;
    /* height: 1500px; */
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.new-posts {
    margin-bottom: 60px;
}

.new-posts-container {
    display: flex;
    flex-direction: column;
}


.new-posts-title-box {
    padding-top: 0;
} 

.new-posts-post {
   /* height: 70px; */
   margin-bottom: 1.57em; 
}

.new-post-content-container {
    flex-grow: 1;
}

.search-form {
    display: flex;
    margin-bottom: 60px;
}

.search-form__input {
    flex-grow: 1;
    height: 48px;
    background-color: #f4f7f6;
    font-size: 13px;
    border: none;
    padding-left: 18px;
}

.search-form__button {
    height: 48px;
    width: 48px;
    border: none;
    background-color:#b59f5b;
    background-image: url(../svg/search.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center center;
}

.search-form__button:hover {
    background-color: #323232;
    cursor: pointer;
}

.subscribe {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.subscribe__input {
    margin-bottom: 16px;
}

.subscribe__button {
    background-image: none;
    width: auto;
    font-size: 13px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    
}

.tags {
    margin-bottom: 60px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    font-size: 12px;
    font-weight: 700;
    
}

.tag>a {
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    border: 3px solid #f4f3f1;
    padding: 7px 12px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.tag>a:hover {
    border-color: #b59f5b;
    cursor: pointer;
}

.tag:last-child {
    margin-right: 0;
}

.theme-item {
    border-bottom: 1px solid #eeeeee;
}

.theme-item>a {
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    
    line-height: 47px;
    text-decoration: none;
    color: black;
}

.theme-item>a:hover {
    color: #b59f5b;
}

.them-index {
    font-size: 12px;
    line-height: 36.82px;
    vertical-align: super;
    color: #b59f5b;
    margin-left: 4px;
}

.third-section {
    margin-bottom: 64px;
    font-size: 20px;
}

.third-section__container {
    display: flex;
    flex-direction: column;
}

.third-section-title {
    margin-bottom: 28px;
}

.shop-wrapper {
    width: 100%;    
}

.shop-container {
    width: 90.9%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.shop-item {
    position: relative;
    width: 29.66%;
    display: flex;
    flex-direction: column;
}

.shop-item__content-container {
    width: 86%;
    height: 100%;
    position: relative;
    /* left: 7%; */
    margin: 0 auto;
    padding-bottom: 26px;
    flex-grow: 1;
}

.shop-item__content {
    position: relative;
    flex-grow: 1;
    
}

.shop-item__content::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -80px;
    border: 3px solid #b59f5b;
}


.shop-item__img {
    width: 100%;
    margin-bottom: 25px;

}

.shop-item__box {
    width: 100%;
    /* height: 267px; */
    height: 64%;
    border: 3px solid #b59f5b;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    z-index: 0;
    
}

.shop-item__title {
    text-align: left;
    line-height: 24px;
    padding-top: 0;
    margin-bottom: 5px;
}

.shop-item__text {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 23px;
}

.shop-item__span {
    color: #b59f5b;
    position: relative;
    z-index: 1;
}

.shop-item__span:hover {
    text-decoration: underline;
}


.shop-item__price-box {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
}

.shop-item__button {
    background-color: #b59f5b;
    color:#ffffff;
    width: 140px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    z-index: 1;
}

.shop-item__button:hover {
    background-color: #323232;
}

.shop-item__price {
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.shop-item__old_price {
    text-decoration: line-through;
}

.social {
    background-color: #f4f7f6;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__list {
    display: flex;
}



.social__item-link {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.dribble {
    background-image: url(../svg/001-dribbble.svg)
}

.pinterest {
    background-image: url(../svg/001-pinterest.svg);
}

.tumbler {
    background-image: url(../svg/003-tumblr.svg);
}

.copyright {
    height: 130px;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    
}

.popup__toggle {
    display: none;
}

.popup__container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    height: 100%;
    background-color:rgba(0, 0, 0, 0.6);
    display: none;
    align-items:center;
    justify-content: center;
    z-index: 3;
}

.popup__background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;

}

.popup__content-container {
    /* width: 23.5%; */
    width: 390px;
    background-color: #ffffff;
    z-index: 4;
    position: relative;
    padding: 0 30px 54px 30px;
}

.popup__closer {
    font-size: 45px;
    position: absolute;
    right: 0;
    top: -45px;
}

.cross {
    width: 18px;
    height: 18px;
}

.popup__toggle:checked + div.popup__container {
    display: flex;
}

 .popup__form {
    width: 100%;
   font-size: 13px;
 }

 .form-hint {
    font-size: 13px;
    line-height: 40px;
 }

 .form-row {
    display: block;
    margin-bottom: 33px;
 }

 .form-row-last {
    margin-bottom: 26px;
 }

 
 .form-select {
    width: 100%;
    height: 48px;
    border: none;
    padding-left: 19px;
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f4f7f6;
    background-image: url(../svg/form-arrows.svg);
    background-size: 8px 17px;
    background-repeat: no-repeat;
    background-position:  right 14px center;
 }

 .form-select:focus {
    outline: 2px solid #b59f5b;
 }

.rdio-button-block:nth-last-of-type(n+2) {
    margin-right: 16px;
}

 .form-radio-button {
    -webkit-appearance: none;
    -moz-appearance: none;
 }

 .radio-text::before {
    content: '';
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url(../svg/form-empty-circle.svg);
    background-size: cover;
    background-position: center center;
    color:#b59f5b;
    vertical-align: middle;
    position: relative;
    margin-right: 4px;
 }

 .form-radio-button:checked + .radio-text::before {
    background-image: url(../svg/form-circle.svg);
 }

 .form-row-textarea {
    display: inline-block;
    line-height: 13px;
    margin-bottom: 11px;
 }

 .form-textarea {
    width: 100%;
    height: 130px;
    display: block;
    padding: 20px;
    border: none;
    background-color: #f4f7f6;
 }

 .send-button {
    background-image: none;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    
}






/* __________________адаптив___________________ */




@media /* (min-width: 641px) and  */(max-width: 1199px) {
    .nav-menu__humburger-checkbox {
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .nav-menu__list {
        display: none;
            }

    .nav-menu__humburger-checkbox:checked + .nav-menu__list {
        display: flex;
    }

    .nav-menu {
        top: 53px;
        right: 3%;
    }

    .nav-menu__humburger-picture {
        display: block;
        width: 23px;
        height: 23px;
        background-size: 23px 23px;
        /* background-image: url(../svg/burger-menu-svgrepo-com\ \(1\).svg); */
        color: #ffffff;
        margin-left: 30px;     
    }

    .header-logo {

        top: 43px;
        left: 4.6%;
    }

    .header-container {
        height: 390px;
        background-image: url(../images/banner-bg-tablet.jpg);
        background-position: left bottom;
        
    }

    .header-title {
        font-size: 40px;
        line-height: 55px;
    }

    .card {
        width: calc((100% - 4px)/2);
        min-height: 247px;        
    }

    .card:nth-child(even) {
      margin-right: 0;
    }

    .cards-section {
        font-size: 18px;
    }

    .section__container {
        justify-content: space-evenly;
    }

    .post.tablet {
        flex-direction: column;
        height:auto;
        padding-bottom: 19px;
        border-bottom: 3px solid #eeeeee;
        margin-bottom: 40px;
    }

    .post.tablet:last-child {
        margin-bottom: 0;
    }

    .posts-container {
        max-width: 51%;
    }

    .side-bar {
        max-width: 36%;
    }

    .post__photo-container.tablet {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .post__content-container.tablet {
        width: 100%;
    }

    .post__title {
        font-size: 17px;
        margin-bottom: 9.6%;
    }

    .post__header.tablet {                 
        margin-bottom: 8.6%;
    }

    .post__text.tablet {
        margin-bottom: 0;
    }

    .new-posts-title-box {
        font-size: 14px;

    }

    .third-section {
        font-size: 18px;
        margin-bottom: 22px;
    }

    .shop-container {
        flex-wrap: wrap;

    }

    .shop-item {
        width: 48.29%;
        margin-bottom: 28px;
    }

    .copyright {
        height: 100px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
    .card {
        width: calc((100% - 12px)/4);
    }
}


@media (max-width: 640px) {
    .header-container {
        height: 640px;
        background-image: url(../images/banner-mobile.jpg);
        background-position: right bottom;
        padding: 0 15px;
        
    }

    .header-logo {
        width: 75%;
       /*  width: 270px; */
        max-height: 61px;
        left: 12.5%;
        top: 225px;
    }

    .header-title {
        position: absolute;
        top: 330px;
        font-size: 26px;
        line-height: 36px;
        max-width: 85%;
    }

    .cards-section {
        font-size: 16px;
    }

    .section__container {
        width: 100%;
        padding: 0 15px;
        flex-wrap: wrap;
    }

    .posts-container {
        max-width: 100%;
        margin-bottom: 44px;
    }

    .post {
        width: 100%;
    }

    .post__title {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .post__header.tablet {                 
        margin-bottom: 7%;
    }

    .post__text.tablet {
        font-size: 14px;
        line-height: 20px;
    }

    .side-bar {
        max-width: 100%;
    }

    .search-form {
        margin-bottom: 45px;
    }

    .tags {
        margin-bottom: 45px;
    }

    .shop-container {
        flex-direction: column;
        width: 100%;
    }

    .shop-item {
        width: 100%;
    }

    .popup__content-container {
        width: 91%;
    }

    .cross {
        width: 27px;
        height: 27px;
    } 

    .popup__closer {
        top: -45px;
    }

}

@media (max-width: 640px) and (orientation: portrait) {

    .card {
        width: 100%;
        min-height: 247px;
        margin-right: 0;
        margin-bottom: 3px;        
    }

}