* {
    box-sizing: border-box;
}



@font-face {
    font-family: "Open Sans";
    src:local("Open Sans");
    src: url(../fonts/OpenSans-Bold.woff2) format('woff2'),
    url(../fonts/OpenSans-Bold.woff) format('woff'), 
    url(../fonts/OpenSans-Bold.ttf) format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src:local("Open Sans");
    src: url(../fonts/OpenSans-Regular.woff2) format('woff2'),
    url(../fonts/OpenSans-Regular.woff) format('woff'),    
    url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}

body {
    background-color: lightgray;
}

.container {
    margin: 0 auto;
    width: 1660px;
    background-color:#ffffff;
}

.header-container {
    position: relative;
    display: flex;
    /* width: 100%; */
    height: 450px;
    background-image: url("../images/banner-bg.jpg");
    justify-content: center;
    align-items: center;
}

.header-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.header-title {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    width: 687px;
    z-index: 1;
    line-height: 75px;

}

.nav-menu {
    position: absolute;
    color:#ffffff;
    right: 245px;
    top: 45px;
}

.nav-menu__list {
    display: flex ;
}

.nav-menu__item {
    margin-right: 35px;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 13px;
}

.nav-menu__item:last-child {
    margin-right: 0;
}

.nav-menu__item:hover {
    text-decoration: underline;    
}

.header-logo {
    width: 179px;
    height: 41px;
    position: absolute;
    top: 28px;
    left: 248px;
}

.cards-section {
    margin-bottom: 64px;
    font-size: 20px;
}

.cards-title-box {
    padding-top: 3.25em;
}

.cards-title-box__text {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 0.7em;
}

.cards-title-box__underscope {
    width: 3.35em;
    background-color: #b59f5b;
    height: 0.15em;
    margin-bottom: 1.4em;
}

.cards-container {
    display: flex;
}

.card {
    position: relative;
    display: flex;
    background-color: #eff6f1;
    width: calc((100%-12px)/4);
    height: 320px;
    margin-right: 4px;
    padding: 16px 18px;
    align-items: end;
    background-image: url(../images/trend1.jpg);

}

.card::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

.card:last-child {
    margin-right: 0;
}

.card__content-container {
    box-sizing:content-box;
    border: 3px solid rgba(181, 159, 91, 0.6);
    padding: 36px 32px;
    width: 100%;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    color:#ffffff;
    z-index: 1;
}

.categores {
    display: flex;
    color:#b59f5b
}

.categores__item {
    margin-right: 20px;
    font-size: 14px;
    line-height: 40px;
}

.categores__item:last-child {
    margin-right: 0;
} 

.categores__item:hover {
    text-decoration: underline;
}

.title-text {
    font-size: 1em;
    line-height: 1.2em;
}

.title-text:hover {
    color:#b59f5b;
}

.second-card {
    background-image: url(../images/trend2.jpg);
}

.third-card {
    background-image: url(../images/trend3.jpg);
}

.fourth-card {
    background-image: url(../images/trend4.jpg);
}

.second-section__container {
    width: 1200px;
    padding: o 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.posts-container {
    width: 790px;
    font-size: 20px;
}

.post {
    height: 295px;
    display: flex;
    /* border: 1px solid black; */
    margin-bottom: 59px;
}

.post__photo-container {
    height: 100%;
    max-width: 48.5%;
/*     width: 382px; */
    margin-right: 3%;
}

.post__photo {
    height: 100%;
    width: 100%;
}

.post__content-container {
    /* border: 1px solid black; */
    /* width: 383px; */
    width: 48.5%;
    height: 100%;
    font-family: "Open Sans";
    font-weight: 700;
    position: relative;
    display: flex;
    flex-direction: column;
}

.post__category-item {
    position: relative;
    top: -13px;
    text-transform: uppercase;
}

.post__title {
    position: relative;
    top: -13px;
    text-transform: uppercase;
}

.date {
    font-size: 0.6em;
    font-weight: 400;
    color: #888888;
    line-height: 2em;
}

.signature {
    font-size: 12px;
}

.post__text-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    
}

.post__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 25px;
}

.side-bar {
    width: 270px;
    border: 1px solid black;
    height: 1200px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.new-posts-container {
    display: flex;
}


.new-posts_title-box {
    padding-top: 0;
} 

.new-posts-post {
   height: 70px; 
}

.new-post-content-container {
    flex-grow: 1;
}